

$color-white: #eee;
$color-lightest: #999;
$color-light: #666;
$color-dark: #333;
$color-darkest: #222;


$color-redorange: #A1400A;
$color-orange: #F8A31E;
$color-darkorange: #99583D; 
$color-blue: #00A4D6;


