 

/* $other: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
$test: 'Six Caps', sans-serif;
$header: 'Six Caps', sans-serif;

$other: 'Montserrat', sans-serif;

$halloween-font: 'Creepster', cursive;

