ErrorDocument 404 /notfound.html

RewriteEngine on
# Options +FollowSymlinks
RewriteCond %{HTTP_REFERER} badsite\.com [NC,OR]
RewriteCond %{HTTP_REFERER} anotherbadsite\.com
RewriteRule .* - [F]

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Or, compress certain file types by extension:
<files *.html>
SetOutputFilter DEFLATE
</files>

# force www to al pages
RewriteCond %{HTTP_HOST} ^necto.com
RewriteRule (.*) http://www.necto.com/$1 [R=301,L]

# force www to all pages
RewriteCond %{HTTP_HOST} ^thenecto.com
RewriteRule (.*) http://www.necto.com/$1 [R=301,L]

# redirects IP addres to URL 162.249.0.11
RewriteCond %{HTTP_HOST} ^162\.249\.0\.11
RewriteRule (.*) http://www.necto.com/$1 [R=301,L]

Redirect 301 /college-thursday.html http://www.necto.com/college-night-thursday.html

# SPAMBOTS

SetEnvIfNoCase Referer 4webmasters.org spambot=yes

SetEnvIfNoCase Referer addons.mozilla.org spambot=yes

SetEnvIfNoCase Referer amanda-porn.ga spambot=yes

SetEnvIfNoCase Referer best-seo-offer.com spambot=yes

SetEnvIfNoCase Referer best-seo-solution.com spambot=yes

SetEnvIfNoCase Referer bestwebsitesawards.com spambot=yes

SetEnvIfNoCase Referer blackhatworth.com spambot=yes

SetEnvIfNoCase Referer blogs.forum69.info spambot=yes

SetEnvIfNoCase Referer buttons-for-website.com spambot=yes

SetEnvIfNoCase Referer buttons-for-your-website.com spambot=yes

SetEnvIfNoCase Referer buy-cheap-online.info spambot=yes

SetEnvIfNoCase Referer darodar.com spambot=yes

SetEnvIfNoCase Referer depositfiles-porn.ga spambot=yes

SetEnvIfNoCase Referer editors.choice53107264.hulfingtonpost.com spambot=yes

SetEnvIfNoCase Referer event-tracking.com spambot=yes

SetEnvIfNoCase Referer forum20.smailik.org spambot=yes

SetEnvIfNoCase Referer forum69.info spambot=yes

SetEnvIfNoCase Referer free-share-buttons.com spambot=yes

SetEnvIfNoCase Referer generalporn.org spambot=yes

SetEnvIfNoCase Referer googlsucks.com spambot=yes

SetEnvIfNoCase Referer guardlink.org spambot=yes

SetEnvIfNoCase Referer http://webmaster-traffic.com spambot=yes

SetEnvIfNoCase Referer hulfingtonpost.com spambot=yes

SetEnvIfNoCase Referer humanorightswatch.org spambot=yes

SetEnvIfNoCase Referer ilovevitaly.com spambot=yes

SetEnvIfNoCase Referer meendo-free-traffic.ga spambot=yes

SetEnvIfNoCase Referer o-o-6-o-o.com spambot=yes

SetEnvIfNoCase Referer pornhub-forum.ga spambot=yes

SetEnvIfNoCase Referer rapidgator-porn.ga spambot=yes

SetEnvIfNoCase Referer s.click.aliexpress.com spambot=yes

SetEnvIfNoCase Referer semalt.com spambot=yes

SetEnvIfNoCase Referer semalt.semalt.com spambot=yes

SetEnvIfNoCase Referer simple-share-buttons.com spambot=yes

SetEnvIfNoCase Referer site2.free-share-buttons.com spambot=yes

SetEnvIfNoCase Referer site3.free-share-buttons.com spambot=yes

SetEnvIfNoCase Referer site4.free-share-buttons.com spambot=yes

SetEnvIfNoCase Referer social-buttons.com spambot=yes

SetEnvIfNoCase Referer theguardlan.com spambot=yes

SetEnvIfNoCase Referer torture.ml spambot=yes

SetEnvIfNoCase Referer webmaster-traffic.com spambot=yes

SetEnvIfNoCase Referer www.Get-Free-Traffic-Now.com spambot=yes

SetEnvIfNoCase Referer youporn-forum.ga spambot=yes

Order allow,deny

Allow from all

Deny from env=spambot